.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  color: hsl(214, 90%, 47%);
  &__image {
    width: 50%;
  }
}
